<!-- 
    Copyright 2016-2025 Taras Guliak XDBTIME
    All rights reserved.

    ========================================
    
    D3
    
    Copyright 2010-2025 Mike Bostock

    Permission to use, copy, modify, and/or distribute this software for any purpose
    with or without fee is hereby granted, provided that the above copyright notice
    and this permission notice appear in all copies.

    THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH
    REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND
    FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
    INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS
    OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER
    TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF
    THIS SOFTWARE.

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xdbtime &mdash; MySQL</title>
    <link rel="shortcut icon" href="https://www.xdbtime.com/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style>
        @media print {
            body {
                -webkit-print-color-adjust: exact;
            }
        }

        body {
            color: #333;
            margin: 0;
        }

        .main-wrapper {
            max-width: 100rem;
            margin: auto;
        }

        main {
            border-width: 1px 0;
            border-style: solid;
        }

        h2 {
            margin: 0;
        }

        main>div+h2 {
            border-top: 1px solid;
        }

        h2 button {
            all: inherit;
            border: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0.5em 0;
        }

        h2 button:focus svg {
            outline: 1px solid;
        }

        button svg {
            height: 1em;
            margin-left: 0.5em;
        }

        [aria-expanded="true"].vert {
            display: none;
        }

        [aria-expanded] rect {
            fill: currentColor;
        }

        html {
            font-family: 'Lato', sans-serif;

        }

        * {
            box-sizing: border-box;
        }

        .chartColorDark {
            fill: #444;
        }

        .chartColorLight {
            fill: #999;
        }

        text {
            fill: #999;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #999;
        }

        path.domain {
            stroke: none;
        }

        .axis-grid line {
            stroke: rgba(0, 0, 0, 0.103);
        }

        .y .tick line {
            stroke: #ddd;
        }

        table {
            font-size: 12px;
        }

        td {
            border-bottom: 0.5px solid #ddd;
        }

        th {
            font-weight: bold;
            background-color: #999;
            color: white;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        .header {
            background: #65a1ac;
            color: white;
            position: fixed;
            top: 0;
            width: 100%;
            padding: 12px;
        }
    </style>

</head>

<body>
    <header class="header">
        <a href="https://www.xdbtime.com">
            <img src="https://www.xdbtime.com/images/logo-white.png" alt="" height="25" />
        </a>
    </header>
    <div class="main-wrapper" id="main-wrapper">


        <h1>Database Performance Comparison Report - MySQL</h1>
        <div id="chart1"> </div>
        <main>
            <h2>
                <button aria-expanded="false">
                    Global Status
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                        <rect class="vert" height="8" width="2" y="1" x="4" />
                        <rect height="2" width="8" y="4" x="1" />
                    </svg>
                </button>
            </h2>
            <div id="chartGlobalStatus" hidden>
                <p>Global Status is based on global_status view. </p>
            </div>
            <h2>
                <button aria-expanded="false">
                    Waits Summary
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                        <rect class="vert" height="8" width="2" y="1" x="4" />
                        <rect height="2" width="8" y="4" x="1" />
                    </svg>
                </button>
            </h2>
            <div id="chartWaitsSummary" hidden>
                <p>Waits Summary charts are based on events_waits_summary_global_by_event_name view </p>
            </div>
            <h2>
                <button aria-expanded="false">
                    Waits TimeSeries
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                        <rect class="vert" height="8" width="2" y="1" x="4" />
                        <rect height="2" width="8" y="4" x="1" />
                    </svg>
                </button>
            </h2>
            <div id="chartWaitsTimeSeries" hidden>
                <p>Waits Summary charts are based on events_waits_summary_global_by_event_name view </p>
            </div>
            <h2>
                <button aria-expanded="false">
                    Stages Summary
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                        <rect class="vert" height="8" width="2" y="1" x="4" />
                        <rect height="2" width="8" y="4" x="1" />
                    </svg>
                </button>
            </h2>
            <div id="chartStagesSummary" hidden>
                <p>Stages Summary charts are based on events_stages_summary_global_by_event_name view </p>
            </div>
            <h2>
                <button aria-expanded="false">
                    Statements Summary
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                        <rect class="vert" height="8" width="2" y="1" x="4" />
                        <rect height="2" width="8" y="4" x="1" />
                    </svg>
                </button>
            </h2>
            <div id="chartStatementsSummary" hidden>
                <p>Statements Summary charts are based on events_statements_summary_global_by_event_name view </p>
            </div>
            <h2>
                <button aria-expanded="false">
                    Statements TimeSeries
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                        <rect class="vert" height="8" width="2" y="1" x="4" />
                        <rect height="2" width="8" y="4" x="1" />
                    </svg>
                </button>
            </h2>
            <div id="chartStatementsTimeSeries" hidden>
                <p>Statements Summary charts are based on events_statements_summary_global_by_event_name view </p>
            </div>
            <h2>
                <button aria-expanded="false">
                    SQL Statistics Charts
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                        <rect class="vert" height="8" width="2" y="1" x="4" />
                        <rect height="2" width="8" y="4" x="1" />
                    </svg>
                </button>
            </h2>
            <div id="chart5" hidden>
                <p>SQL Statistics charts are based on events_statements_summary_by_digest. SQL statistics are grouped by DIGEST. SQL classification is based on DIGEST. There are 3 default classes: Aged Out, New
                    and Unclassified. </p>
            </div>
            <h2>
                <button aria-expanded="false">
                    SQL Statistics Tables
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                        <rect class="vert" height="8" width="2" y="1" x="4" />
                        <rect height="2" width="8" y="4" x="1" />
                    </svg>
                </button>
            </h2>
            <div id="chart6" hidden>
                <p>SQL Statistics charts are based on events_statements_summary_by_digest. SQL statistics are grouped by DIGEST. 
                    SQL classification is based on DIGEST. There are 3 default classes: Aged Out, New and
                    Unclassified. </p>
            </div>
            <h2>
                <button aria-expanded="false">
                    SQL Text
                    <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                        <rect class="vert" height="8" width="2" y="1" x="4" />
                        <rect height="2" width="8" y="4" x="1" />
                    </svg>
                </button>
            </h2>
            <div id="chartSqlText" hidden>
                <p>SQL Text is extracted from events_statements_summary_by_digest. </p>
            </div>
        </main>
    </div>
</body>

</html>


<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type="text/javascript">

    const getWrapperWidth = () => {
        const wr = document.getElementById('main-wrapper');
        return wr.getBoundingClientRect().width;
    }

    // Header
    const header = document.querySelector('.header');
    const headerHeight = header.getBoundingClientRect().height;
    const preHeader = document.createElement('div');
    preHeader.style.height = headerHeight + 'px';
    document.body.prepend(preHeader);

    window.addEventListener('resize', () => {
        // TODO: renderAllComponents
    });

    const headings = document.querySelectorAll('h2');

    headings.forEach(h => {
        let btn = h.querySelector('button');
        let target = h.nextElementSibling;

        btn.onclick = () => {
            let expanded = btn.getAttribute('aria-expanded') === 'true';

            btn.setAttribute('aria-expanded', !expanded);
            target.hidden = expanded;
        }
    });

    var totalStmtSql = 0;
    var totalStmtCom = 0;
    var totalStmtSp = 0;
    var totalStmtScheduler = 0;

    var stmtTsParse = function (startTime, endTime, stmtTsData) {

        var stmtTsArray = [];

        if (stmtTsData.length > 0) {

            var i1 = 0;

            var w1 = 0;
            var w2 = 0;
            var w3 = 0;
            var w4 = 0;

            var myObj = {
                date: startTime
                , 'com': w1
                , 'scheduler': w2
                , 'sp': w3
                , 'sql': w4
                , total: w1 + w2 + w3 + w4
            }
            stmtTsArray.push(myObj);

            totalStmtSql = 0;
            totalStmtCom = 0;
            totalStmtSp = 0;
            totalStmtScheduler = 0;

            startTime = stmtTsData[i1].date;

            while ((startTime <= endTime) && (stmtTsData.length > i1)) {
                while ((stmtTsData.length > i1) && (stmtTsData[i1].date.getTime() === startTime.getTime())) {
                    switch (stmtTsData[i1].key) {
                        case "com": w1 = stmtTsData[i1].value; break;
                        case "scheduler": w2 = stmtTsData[i1].value; break;
                        case "sp": w3 = stmtTsData[i1].value; break;
                        case "sql": w4 = stmtTsData[i1].value; break;
                    }
                    i1 = i1 + 1;
                }
                var myObj = {
                    date: startTime
                    , 'com': w1
                    , 'scheduler': w2
                    , 'sp': w3
                    , 'sql': w4
                    , total: w1 + w2 + w3 + w4
                }
                stmtTsArray.push(myObj);

                totalStmtSql += w1;
                totalStmtCom += w2;
                totalStmtSp += w3;
                totalStmtScheduler += w4;

                w1 = 0;
                w2 = 0;
                w3 = 0;
                w4 = 0;



                if (stmtTsData.length > i1) {
                    startTime = stmtTsData[i1].date;
                }

            }

        }
        return stmtTsArray
    }

    var waitsTsParse = function (startTime, endTime, waitsTsInputData) {

        var waitsTsArray = [];

        if (waitsTsInputData.length > 0) {

            var i1 = 0;

            var w1 = 0;
            var w2 = 0;
            var w3 = 0;
            var w4 = 0;
            var w5 = 0;
            var w6 = 0;
            var w7 = 0;
            var w8 = 0;
            var w9 = 0;
            var w10 = 0;

            startTime = waitsTsInputData[i1].date;

            while ((startTime <= endTime) && (waitsTsInputData.length > i1)) {
                while ((waitsTsInputData.length > i1) && (waitsTsInputData[i1].date.getTime() === startTime.getTime())) {
                    switch (waitsTsInputData[i1].key) {
                        case "io/file": w1 = waitsTsInputData[i1].value; break;
                        case "io/socket": w2 = waitsTsInputData[i1].value; break;
                        case "io/table": w3 = waitsTsInputData[i1].value; break;
                        case "io/aurora_redo_log_flus": w4 = waitsTsInputData[i1].value; break;
                        case "lock/metadata": w5 = waitsTsInputData[i1].value; break;
                        case "lock/table": w6 = waitsTsInputData[i1].value; break;
                        case "synch/cond": w7 = waitsTsInputData[i1].value; break;
                        case "synch/mutex": w8 = waitsTsInputData[i1].value; break;
                        case "synch/rwlock": w9 = waitsTsInputData[i1].value; break;
                        case "synch/sxlock": w10 = waitsTsInputData[i1].value; break;
                    }
                    i1 = i1 + 1;
                }
                var myObj = {
                    date: startTime
                    , 'io/file': w1
                    , 'io/socket': w2
                    , 'io/table': w3
                    , 'io/aurora_redo_log_flus': w4
                    , 'lock/metadata': w5
                    , 'lock/table': w6
                    , 'synch/cond': w7
                    , 'synch/mutex': w8
                    , 'synch/rwlock': w9
                    , 'synch/sxlock': w10
                    , total: w1 + w2 + w3 + w4 + w5 + w6 + w7 + w8 + w9 + w10
                }
                waitsTsArray.push(myObj);

                var w1 = 0;
                var w2 = 0;
                var w3 = 0;
                var w4 = 0;
                var w5 = 0;
                var w6 = 0;
                var w7 = 0;
                var w8 = 0;
                var w9 = 0;
                var w10 = 0;

                if (waitsTsInputData.length > i1) {
                    startTime = waitsTsInputData[i1].date;
                }

            }

        }
        return waitsTsArray
        }

    var svgDbTimeDraw = function (svgWidth, svgHeight, inpArray, svgObjName, withLegend, chartTitle, chartSubTitle, minDate, maxDate, maxX, pKeys, pColors, pAxisName) {
        var margin = { top: 100, right: 100, bottom: 30, left: 40 },
            width = svgWidth - margin.left - margin.right,
            height = svgHeight - margin.top - margin.bottom;
        var x = d3.scaleTime().range([0, width]),
            y = d3.scaleLinear().range([height, 0]),
            z = pColors;

        var stack = d3.stack();

        var area = d3.area()
            .x(function (d, i) { return x(d.data.date); })
            .y0(function (d) { return y(d[0]); })
            .y1(function (d) { return y(d[1]); })
            .curve(d3.curveMonotoneX);

        y.domain([0, maxX]).nice();
        z.domain(pKeys);
        stack.keys(pKeys);

        var svgDbTime = d3.select(svgObjName).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);

        var g = svgDbTime.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        x.domain([minDate, maxDate]);

        g.append("g")
            .attr("class", "axis-grid")
            .call(d3.axisLeft(y).tickSize(-width).tickFormat('').ticks(10));

        var layer = g.selectAll(".layer")
            .data(stack(inpArray))
            .enter().append("g")
            .attr("class", "layer");
        layer.append("path")
            .attr("class", "area")
            .style("fill", function (d) { return z(d.key); })
            .attr("d", area);
        g.append("g")
            .attr("class", "axis axis--x")
            .attr("transform", "translate(0, " + height + ")")
            .call(d3.axisBottom(x));
        g.append("g")
            .attr("class", "axis axis--y")
            .call(d3.axisLeft(y).ticks(null, "s"));
        g.append("g")
            .attr("class", "axis")
            .call(d3.axisLeft(y).ticks(null, "s"))
            .append("text")
            .attr("x", 2)
            .attr("y", y(y.ticks().pop()) + 0.5)
            .attr("dy", "0.32em")
            .attr("class", "chartColorLight")
            .attr("text-anchor", "start")
            .text(pAxisName);
        g.append("text")
            .attr("x", 0)
            .attr("y", 0 - (margin.top / 2))
            .attr("text-anchor", "left")
            .attr("class", "chartColorDark")
            .style("font-size", "26px")
            .text(chartTitle);

        g.append("text")
            .attr("x", 0)
            .attr("y", 0 - (margin.top / 4))
            .attr("text-anchor", "left")
            .style("font-size", "12px")
            .text(chartSubTitle);

        if (withLegend == 1) {
            var legend = g.append("g")
                .attr("font-size", "10px")
                .attr("text-anchor", "begin")
                .selectAll("g")
                .data(pKeys.slice().reverse())
                .enter().append("g")
                .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });
            legend.append("rect")
                .attr("x", width + 15)
                .attr("width", 13)
                .attr("height", 13)
                .attr("fill", z);
            legend.append("text")
                .attr("x", width + 36)
                .attr("y", 6.5)
                .attr("dy", "0.32em")
                .text(function (d) { return d; });

        }
        return svgDbTime;
    }

    var svgStackedAreaDraw = function (svgWidth, svgHeight, inpArray, svgObjName, withLegend, chartName, minDate, maxDate, maxX, pKeys, pColors) {
        var margin = { top: 50, right: 150, bottom: 30, left: 40 },
            width = svgWidth - margin.left - margin.right,
            height = svgHeight - margin.top - margin.bottom;
        var x = d3.scaleTime().range([0, width]),
            y = d3.scaleLinear().range([height, 0]),
            z = pColors;

        var stack = d3.stack();

        var area = d3.area()
            .x(function (d, i) { return x(d.data.date); })
            .y0(function (d) { return y(d[0]); })
            .y1(function (d) { return y(d[1]); });

        y.domain([0, maxX]).nice();
        z.domain(pKeys);
        stack.keys(pKeys);

        var svgStackedArea = d3.select(svgObjName).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);

        var g = svgStackedArea.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        x.domain([minDate, maxDate]);

        var layer = g.selectAll(".layer")
            .data(stack(inpArray))
            .enter().append("g")
            .attr("class", "layer");
        layer.append("path")
            .attr("class", "area")
            .style("fill", function (d) { return z(d.key); })
            .attr("d", area);
        g.append("g")
            .attr("class", "axis axis--x")
            .attr("transform", "translate(0, " + height + ")")
            .call(d3.axisBottom(x));
        g.append("g")
            .attr("class", "axis axis--y")
            .call(d3.axisLeft(y).ticks(null, "s"));
        g.append("g")
            .attr("class", "axis")
            .call(d3.axisLeft(y).ticks(null, "s"))
            .append("text")
            .attr("x", 2)
            .attr("y", y(y.ticks().pop()) + 0.5)
            .attr("dy", "0.32em")
            .attr("fill", "#000")
            .attr("text-anchor", "start")
            .text('DB Sessions');
        g.append("text")
            .attr("x", 0)
            .attr("y", 0 - (margin.top / 4))
            .attr("text-anchor", "left")
            .style("font-size", "16px")
            .text(minDate.toLocaleString('en-us', date_output));
        if (withLegend == 1) {
            var legend = g.append("g")
                .attr("font-size", "10px")
                .attr("text-anchor", "begin")
                .selectAll("g")
                .data(pKeys.slice().reverse())
                .enter().append("g")
                .attr("transform", function (d, i) { return "translate(0," + i * 16 + ")"; });
            legend.append("rect")
                .attr("x", width + 20)
                .attr("width", 10)
                .attr("height", 10)
                .attr("fill", z);
            legend.append("text")
                .attr("x", width + 36)
                .attr("y", 5.5)
                .attr("dy", "0.32em")
                .text(function (d) { return d; });

        }
        return svgStackedArea;
    }



    var svgBarChartDraw = function (svgWidth, svgHeight, statName, svgObjName, pColors, chartName, axisName) {
        var margin = { top: 100, right: 20, bottom: 30, left: 40 },
            width = svgWidth - margin.left - margin.right,
            height = svgHeight - margin.top - margin.bottom;

        var x = d3.scaleBand()
            .rangeRound([0, width - 200])
            .paddingInner(0.05)
            .align(0.1);
        var y = d3.scaleLinear().rangeRound([height, 0]);
        var z = pColors;

        var barChartData = statName;
        var keys = barChartData.columns;


        var stack = d3.stack();

        var area = d3.area()
            .x(function (d, i) { return x(d.data.date); })
            .y0(function (d) { return y(d[0]); })
            .y1(function (d) { return y(d[1]); })
            .curve(d3.curveMonotoneX)
            ;

        x.domain(barChartData.map(function (d) { return d.series; }));
        y.domain([0, 1.05 * d3.max(barChartData, function (d) { return d.total; })]).nice();
        z.domain(keys);


        var svgBarChart = d3.select(svgObjName).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);

        var g = svgBarChart.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");



        g.append("g")
            .selectAll("g")
            .data(d3.stack().keys(keys)(barChartData))
            .enter().append("g")
            .attr("fill", function (d) { return z(d.key); })
            .selectAll("rect")
            .data(function (d) { return d; })
            .enter().append("rect")
            .attr("x", function (d) { return x(d.data.series); })
            .attr("y", function (d) { return y(d[1]); })
            .attr("height", function (d) { return y(d[0]) - y(d[1]); })
            .attr("width", x.bandwidth());

        g.append("g")
            .attr("class", "axis")
            .attr("transform", "translate(0, " + height + ")")
            .call(d3.axisBottom(x));


        g.append("g")
            .attr("class", "axis")
            .call(d3.axisLeft(y).ticks(null, "s"))
            .append("text")
            .attr("x", 2)
            .attr("y", y(y.ticks().pop()) + 0.5)
            .attr("dy", "0.32em")
            .attr("fill", "#000")
            .attr("text-anchor", "start")
            .text(axisName);
        g.append("text")
            .attr("x", 0)
            .attr("y", 0 - (margin.top / 2))
            .attr("text-anchor", "left")
            .attr("class", "chartColorDark")
            .style("font-size", "26px")
            .text(chartName);
        var legend = g.append("g")
            .attr("font-size", "10px")
            .attr("text-anchor", "begin")
            .selectAll("g")
            .data(keys.slice().reverse())
            .enter().append("g")
            .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });
        legend.append("rect")
            .attr("x", width - 180)
            .attr("width", 13)
            .attr("height", 13)
            .attr("fill", z);
        legend.append("text")
            .attr("x", width - 160)
            .attr("y", 6.5)
            .attr("dy", "0.32em")
            .text(function (d) { return d; });

        return svgBarChart;
    }

    function getMaxDiffSqlStatMySQL(statName) {
        var maxValue = d3.max(sqlStatsMySQL[statName], function (d) { return d3.max([0, d[sqlStatsTableDetailsMySQL[statName]["colDiff"]]]); });
        if (maxValue == 0) { return 0.01 } else { return maxValue; }
    }

    function getMinDiffSqlStatMySQL(statName) {
        var minValue = d3.min(sqlStatsMySQL[statName], function (d) { return d3.min([d[sqlStatsTableDetailsMySQL[statName]["colDiff"]], 0]); });
        if (minValue == 0) { return 0.01 } else { return minValue }
    }

    function sqlTableSummaryTextMySQL(statName) {
        var outputString = percentFormat(d3.sum(sqlStatsMySQL[statName], function (d) { return d[sqlStatsTableDetailsMySQL[statName]["colShare"]]; })) + " of " + sqlStatsTableDetailsMySQL[statName]["description"] + " is covered by TOP " +
            timeFormat(d3.max(sqlStatsMySQL[statName], function (d) { return d["RANK"]; })) + " SQLs found in Performance Schema. ";

        if (d3.sum(sqlStatsMySQL[statName], function (d) { return d[sqlStatsTableDetailsMySQL[statName]["colDiff"]]; }) > 0) {
            outputString = outputString + sqlStatsTableDetailsMySQL[statName]["description"] + " (TOP " + timeFormat(d3.max(sqlStatsMySQL[statName], function (d) { return d["RANK"]; })) + " SQLs) has been increased by "
                + outputFormat(sqlStatsTableDetailsMySQL[statName]["colDiff"], d3.sum(sqlStatsMySQL[statName], function (d) { return d[sqlStatsTableDetailsMySQL[statName]["colDiff"]]; })) + " units (from "
                + outputFormat(sqlStatsTableDetailsMySQL[statName]["colDiff"], d3.sum(sqlStatsMySQL[statName], function (d) { return d[sqlStatsTableDetailsMySQL[statName]["colBaseline"]]; })) + " to "
                + outputFormat(sqlStatsTableDetailsMySQL[statName]["colDiff"], d3.sum(sqlStatsMySQL[statName], function (d) { return d[sqlStatsTableDetailsMySQL[statName]["colTestrun"]]; })) + " ).";
            return outputString;
        }
        else {
            outputString = outputString + sqlStatsTableDetailsMySQL[statName]["description"] + " (TOP " + timeFormat(d3.max(sqlStatsMySQL[statName], function (d) { return d["RANK"]; })) + " SQLs) has been decreased by "
                + outputFormat(sqlStatsTableDetailsMySQL[statName]["colDiff"], -1 * d3.sum(sqlStatsMySQL[statName], function (d) { return d[sqlStatsTableDetailsMySQL[statName]["colDiff"]]; })) + " units (from "
                + outputFormat(sqlStatsTableDetailsMySQL[statName]["colDiff"], d3.sum(sqlStatsMySQL[statName], function (d) { return d[sqlStatsTableDetailsMySQL[statName]["colBaseline"]]; })) + " to "
                + outputFormat(sqlStatsTableDetailsMySQL[statName]["colDiff"], d3.sum(sqlStatsMySQL[statName], function (d) { return d[sqlStatsTableDetailsMySQL[statName]["colTestrun"]]; })) + " ).";
            return outputString;
        }


        return outputString;
        
    }




    function getColspan(pcolumn) {
        if (sqlStatsHeaderColspan2MySQL.includes(pcolumn)) { return 2; };
        if (sqlStatsHeaderColspan3MySQL.includes(pcolumn)) { return 3; };
        if (sqlStatsHeaderColspan4MySQL.includes(pcolumn)) { return 4; };
        if (sqlStatsHeaderColspan5MySQL.includes(pcolumn)) { return 5; };
        if (sqlStatsHeaderColspan6MySQL.includes(pcolumn)) { return 6; };
        if (sqlStatsHeaderColspan7MySQL.includes(pcolumn)) { return 7; };
        return 1;
    }

    function drawTable(data, columns, header1, header2, tableName, svgName, summaryText, tableDescription) {


        d3.select(svgName)
            .append('svg')
            .attr('width', 2100)
            .attr('height', 50)
            .append('g')
            .attr("transform", "translate(" + 0 + "," + 0 + ")")
            .append('text')
            .attr('x', 20)
            .attr('y', 40)
            .attr("text-anchor", "mid")
            .attr("font-size", "18px")
            .attr("font-weight", "bold")
            .attr("class", "chartColorDark")
            .text(tableName);
        d3.select(svgName)
            .append('svg')
            .attr('width', 2100)
            .attr('height', 10)
            .append('g')
            .attr("transform", "translate(" + 0 + "," + 0 + ")")
            .append('text')
            .attr('x', 10)
            .attr('y', 8)
            .attr("text-anchor", "mid")
            .attr("font-size", "10px")
            .attr("font-weight", "bold")
            .attr("class", "chartColorGrey")
            .text(tableDescription);
        var table = d3.select(svgName).append("table"),
            thead = table.append("thead"),
            tbody = table.append("tbody");
        thead.append("tr")
            .selectAll("th")
            .data(header1)
            .enter()
            .append("th")
            .attr("colspan", function (column) { return getColspan(column); })
            .attr("rowspan", function (column) { return getColspan(column) === 1 ? 2 : 1; })
            .text(function (column) { return column; });
        thead.append("tr")
            .selectAll("th")
            .data(header2)
            .enter()
            .append("th")
            .text(function (column) { return column; });



        var rows = tbody.selectAll("tr")
            .data(data)
            .enter()
            .append("tr");
        var cells = rows.selectAll("td")
            .data(function (row) {
                return columns.map(function (column) {
                    return {
                        column: column,
                        value: row[column]
                    };
                });
            })
            .enter()
            .append("td")
            .text(function (d) { return outputFormat(d.column, d.value); });
        table.selectAll("tbody tr")
            .sort(function (a, b) { return d3.ascending(a.RANK, b.RANK); });

        d3.select(svgName)
            .append('svg')
            .attr('width', 2100)
            .attr('height', 40)
            .append('g')
            .attr("transform", "translate(" + 0 + "," + 0 + ")")
            .append('text')
            .attr('x', 20)
            .attr('y', 20)
            .attr("text-anchor", "mid")
            .attr("font-size", "12px")
            .attr("class", "chartColorDark")
            .text(summaryText);
        return table;
    }

    function outputFormat(pcolumn, pvalue) {
        if (timeFormatArrayMySQL.includes(pcolumn)) { if (Math.abs(pvalue) > 999) { return execFormat(+pvalue); } else { return timeFormat(+pvalue); } };
        if (execFormatArrayMySQL.includes(pcolumn)) { if (Math.abs(pvalue) < 10) { return timeFormat(+pvalue); } else { return execFormat(+pvalue); } };
        if (percentFormatArrayMySQL.includes(pcolumn)) { return percentFormat(+pvalue); };
        return pvalue;
    }

    function drawAllObjects(pScreenWidth) {
        if ((statementsSummaryGroupsMySQL["Wait Classes"][0]["total"] + statementsSummaryGroupsMySQL["Wait Classes"][1]["total"])>0) svgBarChartDraw(400, 450, statementsSummaryGroupsMySQL["Wait Classes"], "#chart1", waitClassColors, "Statements Summary", "Seconds");
        if ((waitsSummaryGroupsMySQL["Wait Classes"][0]["total"] + waitsSummaryGroupsMySQL["Wait Classes"][1]["total"])>0) svgBarChartDraw(400, 450, waitsSummaryGroupsMySQL["Wait Classes"], "#chart1", waitClassColors, "Waits Summary", "Seconds");
        if ((stagesSummaryGroupsMySQL["Wait Classes"][0]["total"] + stagesSummaryGroupsMySQL["Wait Classes"][1]["total"])>0) svgBarChartDraw(400, 450, stagesSummaryGroupsMySQL["Wait Classes"], "#chart1", waitClassColors, "Stages Summary", "Seconds");
        
        var maxStatementsTSAxis = Math.max(d3.max(stmtTsArrayBr, function(d){return d.total;}), d3.max(stmtTsArrayTr, function(d){return d.total;}));

        svgDbTimeDraw(pScreenWidth,380,stmtTsArrayBr,"#chartStatementsTimeSeries",1,"Baseline", startTimeBr.toLocaleString('en-us', date_output), startTimeBr,finishTimeBr,maxStatementsTSAxis, stmtKeys, cat20Colors,"Seconds");
        svgDbTimeDraw(pScreenWidth,380,stmtTsArrayTr,"#chartStatementsTimeSeries",1,"Test Run", startTimeTr.toLocaleString('en-us', date_output), startTimeTr,finishTimeTr,maxStatementsTSAxis, stmtKeys, cat20Colors,"Seconds");
        
        var maxWaitsTSAxis = Math.max(d3.max(waitsTsArrayBr, function(d){return d.total;}), d3.max(waitsTsArrayTr, function(d){return d.total;}));

        svgDbTimeDraw(pScreenWidth,380,waitsTsArrayBr,"#chartWaitsTimeSeries",1,"Baseline", startTimeBr.toLocaleString('en-us', date_output), startTimeBr,finishTimeBr,maxWaitsTSAxis, waitsKeys, waitClassColors,"Seconds");
        svgDbTimeDraw(pScreenWidth,380,waitsTsArrayTr,"#chartWaitsTimeSeries",1,"Test Run", startTimeTr.toLocaleString('en-us', date_output), startTimeTr,finishTimeTr,maxWaitsTSAxis, waitsKeys, waitClassColors,"Seconds");

        ["io/file", "io/socket", "io/table", "io/aurora_redo_log_flus", "lock/metadata", "lock/table", "synch/cond", "synch/mutex", "synch/rwlock", "synch/sxlock"].forEach(function (d) {
            if (waitsSummaryGroupsMySQL[d].columns) svgBarChartDraw(400, 450, waitsSummaryGroupsMySQL[d], "#chartWaitsSummary", cat20Colors, d, "Seconds");

        });

        ["sql", "innodb"].forEach(function (d) {
            if (stagesSummaryGroupsMySQL[d].columns) svgBarChartDraw(400, 450, stagesSummaryGroupsMySQL[d], "#chartStagesSummary", cat20Colors, d, "Seconds");

        });

        ["sql", "com", "sp", "scheduler"].forEach(function (d) {
            if (statementsSummaryGroupsMySQL[d].columns) svgBarChartDraw(400, 450, statementsSummaryGroupsMySQL[d], "#chartStatementsSummary", cat20Colors, d, "Seconds");

        });


        sqlStatsChartDetailsMySQL.forEach(function (d) {
            svgBarChartDraw(400, 450, sqlStatsGroupsMySQL[d.chartId], "#chart5", cat20Colors, d.chartName, d.axisName);
        });


        sqlStatsTablesMySQL.forEach(function (d) {
            if (sqlStatsMySQL[d].length > 0) {
                var tempTable = drawTable(sqlStatsMySQL[d], sqlStatsColsMySQL[d], sqlStatsColsHeader1MySQL[d], sqlStatsColsHeader2MySQL[d], sqlStatsTableDetailsMySQL[d]["name"], "#chart6", sqlTableSummaryTextMySQL(d), tableDescriptionText);
                sqlStatsTablesMySQL[d] = tempTable;
            }
        });
        


        var dbSummaryTable = drawTable(sqlStatsMySQL["DB_SUMMARY"], sqlStatsColsMySQL["DB_SUMMARY"], sqlStatsColsHeader1MySQL["DB_SUMMARY"], sqlStatsColsHeader2MySQL["DB_SUMMARY"], sqlStatsTableDetailsMySQL["DB_SUMMARY"]["name"], "#chart1", "", "");
        
        var globalStatusTable = drawTable(sqlStatsMySQL["GLOBAL_STATUS"], sqlStatsColsMySQL["GLOBAL_STATUS"], sqlStatsColsHeader1MySQL["GLOBAL_STATUS"], sqlStatsColsHeader2MySQL["GLOBAL_STATUS"], sqlStatsTableDetailsMySQL["GLOBAL_STATUS"]["name"], "#chartGlobalStatus", "", tableDescriptionText);

        var sqlTextTable = drawTable(sqlStatsMySQL["SQL_TEXT"], sqlStatsColsMySQL["SQL_TEXT"], sqlStatsColsHeader1MySQL["SQL_TEXT"], sqlStatsColsHeader2MySQL["SQL_TEXT"], sqlStatsTableDetailsMySQL["SQL_TEXT"]["name"], "#chartSqlText", "", "");

        sqlStatsTablesMySQL.forEach(function(x) {
        if (sqlStatsMySQL[x].length > 0) {    
            if (x == "COUNT_STAR") {
                sqlStatsTablesMySQL[x].selectAll('td:nth-child(8)').style("background-color", function(d){if(+d.value > 0) {return colorInterpolateRed((+d.value)/getMaxDiffSqlStatMySQL(x)/2);} else {return colorInterpolateGreen((+d.value)/getMinDiffSqlStatMySQL(x)/2);};});
            }
            else
            {
                sqlStatsTablesMySQL[x].selectAll('td:nth-child(8)').style("background-color", function(d){if(+d.value > 0) {return colorInterpolateRed((+d.value)/getMaxDiffSqlStatMySQL(x)/2);} else {return colorInterpolateGreen((+d.value)/getMinDiffSqlStatMySQL(x)/2);};});
                sqlStatsTablesMySQL[x].selectAll('td:nth-child(12)').style("background-color", function(d){return colorScale((+d.value))});
            }
        }
        });

        globalStatusTable.selectAll('td:nth-child(5)').style("background-color", function(d){return colorScale((+d.value))});

    }

    var csvTopDigestType = "digest_type\n";
    
    var csvWaitsSummaryMySQL = "wait_class,wait_event,tst_before,tst_after\n";

    var csvStagesSummaryMySQL = "wait_class,wait_event,tst_before,tst_after\n";

    var csvStatementsSummaryMySQL = "wait_class,wait_event,tst_before,tst_after\n";

    var csvSqlStatsChartMySQL = "stat_name,sql_type,value_b,value_t\n";

    var csvSqlStatsTableMySQL = "STATISTIC,SQL_TYPE,SCHEMA_NAME,DIGEST,COUNT_STAR_T,SUM_TIMER_WAIT_T,SUM_LOCK_TIME_T,SUM_ERRORS_T,SUM_WARNINGS_T,SUM_ROWS_AFFECTED_T,SUM_ROWS_SENT_T,SUM_ROWS_EXAMINED_T,SUM_CREATED_TMP_DISK_TABLES_T,SUM_CREATED_TMP_TABLES_T,SUM_SELECT_FULL_JOIN_T,SUM_SELECT_FULL_RANGE_JOIN_T,SUM_SELECT_RANGE_T,SUM_SELECT_RANGE_CHECK_T,SUM_SELECT_SCAN_T,SUM_SORT_MERGE_PASSES_T,SUM_SORT_RANGE_T,SUM_SORT_ROWS_T,SUM_SORT_SCAN_T,SUM_NO_INDEX_USED_T,SUM_NO_GOOD_INDEX_USED_T,SCHEMA_NAME_B,DIGEST_B,COUNT_STAR_B,SUM_TIMER_WAIT_B,SUM_LOCK_TIME_B,SUM_ERRORS_B,SUM_WARNINGS_B,SUM_ROWS_AFFECTED_B,SUM_ROWS_SENT_B,SUM_ROWS_EXAMINED_B,SUM_CREATED_TMP_DISK_TABLES_B,SUM_CREATED_TMP_TABLES_B,SUM_SELECT_FULL_JOIN_B,SUM_SELECT_FULL_RANGE_JOIN_B,SUM_SELECT_RANGE_B,SUM_SELECT_RANGE_CHECK_B,SUM_SELECT_SCAN_B,SUM_SORT_MERGE_PASSES_B,SUM_SORT_RANGE_B,SUM_SORT_ROWS_B,SUM_SORT_SCAN_B,SUM_NO_INDEX_USED_B,SUM_NO_GOOD_INDEX_USED_B\n";

    var csvFileSummaryByEventMySQL = "EVENT_NAME,COUNT_STAR,SUM_TIMER_WAIT,MIN_TIMER_WAIT,AVG_TIMER_WAIT,MAX_TIMER_WAIT,COUNT_READ,SUM_TIMER_READ,MIN_TIMER_READ,AVG_TIMER_READ,MAX_TIMER_READ,SUM_NUMBER_OF_BYTES_READ,COUNT_WRITE,SUM_TIMER_WRITE,MIN_TIMER_WRITE,AVG_TIMER_WRITE,MAX_TIMER_WRITE,SUM_NUMBER_OF_BYTES_WRITE,COUNT_MISC,SUM_TIMER_MISC,MIN_TIMER_MISC,AVG_TIMER_MISC,MAX_TIMER_MISC\n";

    var csvDbSummary = "PERIOD,START_SAMPLE_ID,FINISH_SAMPLE_ID,START_SAMPLE_TIME,FINISH_SAMPLE_TIME,DURATION\n";

    var csvGlobalStatus = "VARIABLE_NAME,GLOBAL_STATUS_B,GLOBAL_STATUS_T\n";
    
    var csvSQLText = "DIGEST!@#!DIGEST_TEXT\n";

    var csvStmtTsBr = "date,key,value\n";

    var csvStmtTsTr = "date,key,value\n";

    var csvWaitsTsBr = "date,key,value\n";

    var csvWaitsTsTr = "date,key,value\n";
