<!-- 
    Copyright 2016-2026 Taras Guliak XDBTIME Community Edition for MySQL
    All rights reserved.

    ========================================
    
    D3
    
    Copyright 2010-2023 Mike Bostock

    Permission to use, copy, modify, and/or distribute this software for any purpose
    with or without fee is hereby granted, provided that the above copyright notice
    and this permission notice appear in all copies.

    THE SOFTWARE IS PROVIDED "AS IS" AND THE AUTHOR DISCLAIMS ALL WARRANTIES WITH
    REGARD TO THIS SOFTWARE INCLUDING ALL IMPLIED WARRANTIES OF MERCHANTABILITY AND
    FITNESS. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY SPECIAL, DIRECT,
    INDIRECT, OR CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS
    OF USE, DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE OR OTHER
    TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH THE USE OR PERFORMANCE OF
    THIS SOFTWARE.

-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>xdbtime &mdash; MySQL</title>
    <link rel="shortcut icon" href="https://www.xdbtime.com/images/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <style>
        @media print {
            body {
                -webkit-print-color-adjust: exact;
            }
        }

        body {
            color: #333;
            margin: 0;
        }

        .main-wrapper {
            max-width: 100rem;
            margin: auto;
        }

        main {
            border-width: 1px 0;
            border-style: solid;
        }

        h2 {
            margin: 0;
        }

        main>div+h2 {
            border-top: 1px solid;
        }

        h2 button {
            all: inherit;
            border: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 0.5em 0;
        }

        h2 button:focus svg {
            outline: 1px solid;
        }

        button svg {
            height: 1em;
            margin-left: 0.5em;
        }

        [aria-expanded="true"].vert {
            display: none;
        }

        [aria-expanded] rect {
            fill: currentColor;
        }

        html {
            font-family: 'Lato', sans-serif;

        }

        * {
            box-sizing: border-box;
        }

        .chartColorDark {
            fill: #444;
        }

        .chartColorLight {
            fill: #999;
        }

        text {
            fill: #999;
        }

        .axis path,
        .axis line {
            fill: none;
            stroke: #999;
        }

        path.domain {
            stroke: none;
        }

        .axis-grid line {
            stroke: rgba(0, 0, 0, 0.103);
        }

        .y .tick line {
            stroke: #ddd;
        }

        table {
            font-size: 12px;
        }

        td {
            border-bottom: 0.5px solid #ddd;
            border-top-left-radius: 1.5px;
            border-top-right-radius: 1.5px;
            border-bottom-left-radius: 1.5px;
            border-bottom-right-radius: 1.5px;
        }

        th {
            font-weight: bold;
            background-color: #999;
            color: white;
            border-top-left-radius: 1.5px;
            border-top-right-radius: 1.5px;
            border-bottom-left-radius: 1.5px;
            border-bottom-right-radius: 1.5px;
        }

        tr:hover {
            background-color: #f5f5f5;
            border-top-left-radius: 1.5px;
            border-top-right-radius: 1.5px;
            border-bottom-left-radius: 1.5px;
            border-bottom-right-radius: 1.5px;
        }

        .header {
            background: #65a1ac;
            color: white;
            position: fixed;
            top: 0;
            width: 100%;
            padding: 12px;
        }
    </style>

</head>

<body>
<header class="header">
    <a href="https://www.xdbtime.com">
        <img src="https://www.xdbtime.com/images/logo-white.png" alt="" height="25"/>
    </a>
</header>
<div class="main-wrapper" id="main-wrapper">


    <h1>Database Performance Report</h1>
    <h5>
        <span style="text-align:left;">for MySQL (using Performance Schema)</span>
        <span style="float:right;">v2025.12</span>
    </h5>
    <div id="chart1"></div>
    <main>
        <h2>
            <button aria-expanded="false">
                Global Status
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                    <rect class="vert" height="8" width="2" y="1" x="4"/>
                    <rect height="2" width="8" y="4" x="1"/>
                </svg>
            </button>
        </h2>
        <div id="chartGlobalStatus" hidden>
            <p>Global Status is based on global_status view. </p>
        </div>
        <h2>
            <button aria-expanded="false">
                File Summary
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                    <rect class="vert" height="8" width="2" y="1" x="4"/>
                    <rect height="2" width="8" y="4" x="1"/>
                </svg>
            </button>
        </h2>
        <div id="chartFileSummary" hidden>
            <p>File Summary tables are based on file_summary_by_event_name view </p>
        </div>
        <h2>
            <button aria-expanded="false">
                Waits Summary
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                    <rect class="vert" height="8" width="2" y="1" x="4"/>
                    <rect height="2" width="8" y="4" x="1"/>
                </svg>
            </button>
        </h2>
        <div id="chartWaitsSummary" hidden>
            <p>Waits Summary charts are based on events_waits_summary_global_by_event_name view </p>
        </div>
        <h2>
            <button aria-expanded="false">
                Stages Summary
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                    <rect class="vert" height="8" width="2" y="1" x="4"/>
                    <rect height="2" width="8" y="4" x="1"/>
                </svg>
            </button>
        </h2>
        <div id="chartStagesSummary" hidden>
            <p>Stages Summary charts are based on events_stages_summary_global_by_event_name view </p>
        </div>
        <h2>
            <button aria-expanded="false">
                Statements Summary
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                    <rect class="vert" height="8" width="2" y="1" x="4"/>
                    <rect height="2" width="8" y="4" x="1"/>
                </svg>
            </button>
        </h2>
        <div id="chartStatementsSummary" hidden>
            <p>Statements Summary charts are based on events_statements_summary_global_by_event_name view </p>
        </div>
        <h2>
            <button aria-expanded="false">
                SQL Statistics Charts
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                    <rect class="vert" height="8" width="2" y="1" x="4"/>
                    <rect height="2" width="8" y="4" x="1"/>
                </svg>
            </button>
        </h2>
        <div id="chart5" hidden>
            <p>SQL Statistics charts are based on events_statements_summary_by_digest. SQL statistics are grouped by
                DIGEST and SCHEMA_NAME. </p>
        </div>
        <h2>
            <button aria-expanded="false">
                SQL Statistics Tables
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                    <rect class="vert" height="8" width="2" y="1" x="4"/>
                    <rect height="2" width="8" y="4" x="1"/>
                </svg>
            </button>
        </h2>
        <div id="chart6" hidden>
            <p>SQL Statistics charts are based on events_statements_summary_by_digest. SQL statistics are grouped by
                DIGEST and SCHEMA_NAME.</p>
        </div>
        <h2>
            <button aria-expanded="false">
                SQL Text
                <svg aria-hidden="true" focusable="false" viewBox="0 0 10 10">
                    <rect class="vert" height="8" width="2" y="1" x="4"/>
                    <rect height="2" width="8" y="4" x="1"/>
                </svg>
            </button>
        </h2>
        <div id="chartSqlText" hidden>
            <p>SQL Text is extracted from events_statements_summary_by_digest. </p>
        </div>
    </main>
</div>
</body>

</html>


<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script type="text/javascript">

    const getWrapperWidth = () => {
        const wr = document.getElementById('main-wrapper');
        return wr.getBoundingClientRect().width;
    }

    // Header
    const header = document.querySelector('.header');
    const headerHeight = header.getBoundingClientRect().height;
    const preHeader = document.createElement('div');
    preHeader.style.height = headerHeight + 'px';
    document.body.prepend(preHeader);

    window.addEventListener('resize', () => {
        // TODO: renderAllComponents
    });

    const headings = document.querySelectorAll('h2');

    headings.forEach(h => {
        let btn = h.querySelector('button');
        let target = h.nextElementSibling;

        btn.onclick = () => {
            let expanded = btn.getAttribute('aria-expanded') === 'true';

            btn.setAttribute('aria-expanded', !expanded);
            target.hidden = expanded;
        }
    });

    var svgDbTimeDraw = function (svgWidth, svgHeight, inpArray, svgObjName, withLegend, chartTitle, chartSubTitle, minDate, maxDate, maxX, pKeys, pColors, pAxisName) {
        var margin = { top: 100, right: 100, bottom: 30, left: 40 },
            width = svgWidth - margin.left - margin.right,
            height = svgHeight - margin.top - margin.bottom;
        var x = d3.scaleTime().range([0, width]),
            y = d3.scaleLinear().range([height, 0]),
            z = pColors;

        var stack = d3.stack();

        var area = d3.area()
            .x(function (d, i) { return x(d.data.date); })
            .y0(function (d) { return y(d[0]); })
            .y1(function (d) { return y(d[1]); })
            .curve(d3.curveMonotoneX);

        y.domain([0, maxX]).nice();
        z.domain(pKeys);
        stack.keys(pKeys);

        var svgDbTime = d3.select(svgObjName).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);

        var g = svgDbTime.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        x.domain([minDate, maxDate]);

        g.append("g")
            .attr("class", "axis-grid")
            .call(d3.axisLeft(y).tickSize(-width).tickFormat('').ticks(10));

        var layer = g.selectAll(".layer")
            .data(stack(inpArray))
            .enter().append("g")
            .attr("class", "layer");
        layer.append("path")
            .attr("class", "area")
            .style("fill", function (d) { return z(d.key); })
            .attr("d", area)
            .on('mouseover', function (d, i) {
                d3.select(this).transition()
                    .duration('50')
                    .attr('opacity', '.85');
            })
            .on('mouseout', function (d, i) {
                d3.select(this).transition()
                    .duration('50')
                    .attr('opacity', '1');
            });
        g.append("g")
            .attr("class", "axis axis--x")
            .attr("transform", "translate(0, " + height + ")")
            .call(d3.axisBottom(x));
        g.append("g")
            .attr("class", "axis axis--y")
            .call(d3.axisLeft(y).ticks(null, "s"));
        g.append("g")
            .attr("class", "axis")
            .call(d3.axisLeft(y).ticks(null, "s"))
            .append("text")
            .attr("x", 2)
            .attr("y", y(y.ticks().pop()) + 0.5)
            .attr("dy", "0.32em")
            .attr("class", "chartColorLight")
            .attr("text-anchor", "start")
            .text(pAxisName);
        g.append("text")
            .attr("x", 0)
            .attr("y", 0 - (margin.top / 2))
            .attr("text-anchor", "left")
            .attr("class", "chartColorDark")
            .style("font-size", "26px")
            .text(chartTitle);

        g.append("text")
            .attr("x", 0)
            .attr("y", 0 - (margin.top / 4))
            .attr("text-anchor", "left")
            .style("font-size", "12px")
            .text(chartSubTitle);

        if (withLegend == 1) {
            var legend = g.append("g")
                .attr("font-size", "10px")
                .attr("text-anchor", "begin")
                .selectAll("g")
                .data(pKeys.slice().reverse())
                .enter().append("g")
                .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });
            legend.append("rect")
                .attr("x", width + 15)
                .attr("width", 13)
                .attr("height", 13)
                .attr('rx', 5)
                .attr("fill", z);
            legend.append("text")
                .attr("x", width + 36)
                .attr("y", 6.5)
                .attr("dy", "0.32em")
                .text(function (d) { return d; });

        }
        return svgDbTime;
    }

    var svgStackedAreaDraw = function (svgWidth, svgHeight, inpArray, svgObjName, withLegend, chartName, minDate, maxDate, maxX, pKeys, pColors) {
        var margin = { top: 50, right: 150, bottom: 30, left: 40 },
            width = svgWidth - margin.left - margin.right,
            height = svgHeight - margin.top - margin.bottom;
        var x = d3.scaleTime().range([0, width]),
            y = d3.scaleLinear().range([height, 0]),
            z = pColors;

        var stack = d3.stack();

        var area = d3.area()
            .x(function (d, i) { return x(d.data.date); })
            .y0(function (d) { return y(d[0]); })
            .y1(function (d) { return y(d[1]); });

        y.domain([0, maxX]).nice();
        z.domain(pKeys);
        stack.keys(pKeys);

        var svgStackedArea = d3.select(svgObjName).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);

        var g = svgStackedArea.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        x.domain([minDate, maxDate]);

        var layer = g.selectAll(".layer")
            .data(stack(inpArray))
            .enter().append("g")
            .attr("class", "layer");
        layer.append("path")
            .attr("class", "area")
            .style("fill", function (d) { return z(d.key); })
            .attr("d", area)
            .on('mouseover', function (d, i) {
                d3.select(this).transition()
                    .duration('50')
                    .attr('opacity', '.85');
            })
            .on('mouseout', function (d, i) {
                d3.select(this).transition()
                    .duration('50')
                    .attr('opacity', '1');
            });
        g.append("g")
            .attr("class", "axis axis--x")
            .attr("transform", "translate(0, " + height + ")")
            .call(d3.axisBottom(x));
        g.append("g")
            .attr("class", "axis axis--y")
            .call(d3.axisLeft(y).ticks(null, "s"));
        g.append("g")
            .attr("class", "axis")
            .call(d3.axisLeft(y).ticks(null, "s"))
            .append("text")
            .attr("x", 2)
            .attr("y", y(y.ticks().pop()) + 0.5)
            .attr("dy", "0.32em")
            .attr("fill", "#000")
            .attr("text-anchor", "start")
            .text('DB Sessions');
        g.append("text")
            .attr("x", 0)
            .attr("y", 0 - (margin.top / 4))
            .attr("text-anchor", "left")
            .style("font-size", "16px")
            .text(minDate.toLocaleString('en-us', date_output));
        if (withLegend == 1) {
            var legend = g.append("g")
                .attr("font-size", "10px")
                .attr("text-anchor", "begin")
                .selectAll("g")
                .data(pKeys.slice().reverse())
                .enter().append("g")
                .attr("transform", function (d, i) { return "translate(0," + i * 16 + ")"; });
            legend.append("rect")
                .attr("x", width + 20)
                .attr("width", 10)
                .attr("height", 10)
                .attr('rx', 5)
                .attr("fill", z);
            legend.append("text")
                .attr("x", width + 36)
                .attr("y", 5.5)
                .attr("dy", "0.32em")
                .text(function (d) { return d; });

        }
        return svgStackedArea;
    }



    var svgBarChartDraw = function (svgWidth, svgHeight, statName, svgObjName, pColors, chartName, axisName) {
        var margin = { top: 100, right: 20, bottom: 30, left: 40 },
            width = svgWidth - margin.left - margin.right,
            height = svgHeight - margin.top - margin.bottom;

        var x = d3.scaleBand()
            .rangeRound([40, width - 215])
            .paddingInner(0.05)
            .align(0.1);
        var y = d3.scaleLinear().rangeRound([height, 0]);
        var z = pColors;

        var barChartData = statName;
        var keys = barChartData.columns;


        var stack = d3.stack();

        var area = d3.area()
            .x(function (d, i) { return x(d.data.date); })
            .y0(function (d) { return y(d[0]); })
            .y1(function (d) { return y(d[1]); })
            .curve(d3.curveMonotoneX)
            ;

        x.domain(barChartData.map(function (d) { return d.series; }));
        y.domain([0, 1.05 * d3.max(barChartData, function (d) { return d.total; })]).nice();
        z.domain(keys);


        var svgBarChart = d3.select(svgObjName).append("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom);

        var g = svgBarChart.append("g")
            .attr("transform", "translate(" + margin.left + "," + margin.top + ")");



        g.append("g")
            .selectAll("g")
            .data(d3.stack().keys(keys)(barChartData))
            .enter().append("g")
            .attr("fill", function (d) { return z(d.key); })
            .selectAll("rect")
            .data(function (d) { return d; })
            .enter().append("rect")
            .attr("x", function (d) { return x(d.data.series) + 3; })
            .attr("y", function (d) { return y(d[1]); })
            .attr('rx', 1.5)
            .attr("height", function (d) { return y(d[0]) - y(d[1]); })
            .attr("width", x.bandwidth())
            .on('mouseover', function (d, i) {
                d3.select(this).transition()
                    .duration('50')
                    .attr('opacity', '.85');
            })
            .on('mouseout', function (d, i) {
                d3.select(this).transition()
                    .duration('50')
                    .attr('opacity', '1');
            });

        g.append("g")
            .attr("class", "axis")
            .attr("transform", "translate(3, " + height + ")")
            .call(d3.axisBottom(x));


        g.append("g")
            .attr("class", "axis")
            .call(d3.axisLeft(y).ticks(null, "s"))
            .append("text")
            .attr("x", 2)
            .attr("y", y(y.ticks().pop()) + 0.5)
            .attr("dy", "0.32em")
            .attr("fill", "#000")
            .attr("text-anchor", "start")
            .text(axisName);
        g.append("text")
            .attr("x", 0)
            .attr("y", 0 - (margin.top / 2))
            .attr("text-anchor", "left")
            .attr("class", "chartColorDark")
            .style("font-size", "26px")
            .text(chartName);
        var legend = g.append("g")
            .attr("font-size", "10px")
            .attr("text-anchor", "begin")
            .selectAll("g")
            .data(keys.slice().reverse())
            .enter().append("g")
            .attr("transform", function (d, i) { return "translate(0," + i * 20 + ")"; });
        legend.append("rect")
            .attr("x", width - 180)
            .attr("width", 13)
            .attr("height", 13)
            .attr('rx', 5)
            .attr("fill", z);
        legend.append("text")
            .attr("x", width - 160)
            .attr("y", 6.5)
            .attr("dy", "0.32em")
            .text(function (d) { return d; });

        return svgBarChart;
    }

    function getMaxDiffSqlStatMySQL(statName) {
        var maxValue = d3.max(sqlStatsMySQL[statName], function (d) { return d3.max([0, d[sqlStatsTableDetailsMySQL[statName]["colDiff"]]]); });
        if (maxValue == 0) { return 0.01 } else { return maxValue; }
    }

    function getMinDiffSqlStatMySQL(statName) {
        var minValue = d3.min(sqlStatsMySQL[statName], function (d) { return d3.min([d[sqlStatsTableDetailsMySQL[statName]["colDiff"]], 0]); });
        if (minValue == 0) { return 0.01 } else { return minValue }
    }

    function sqlTableSummaryTextMySQL(statName) {
        var outputString = percentFormat(d3.sum(sqlStatsMySQL[statName], function (d) { return d[sqlStatsTableDetailsMySQL[statName]["colShare"]]; })) + " of " + sqlStatsTableDetailsMySQL[statName]["description"] + " is covered by TOP " +
            timeFormat(d3.max(sqlStatsMySQL[statName], function (d) { return d["RANK"]; })) + " SQLs found in Performance Schema. ";

        outputString = outputString + sqlStatsTableDetailsMySQL[statName]["description"] + " (TOP " + timeFormat(d3.max(sqlStatsMySQL[statName], function (d) { return d["RANK"]; })) + " SQLs) consumed "
            + outputFormat(sqlStatsTableDetailsMySQL[statName]["colDiff"], d3.sum(sqlStatsMySQL[statName], function (d) { return d[sqlStatsTableDetailsMySQL[statName]["colTestrun"]]; })) + " units.";
        
        return outputString;
        
    }




    function getColspan(pcolumn) {
        if (sqlStatsHeaderColspan2MySQL.includes(pcolumn)) { return 2; };
        if (sqlStatsHeaderColspan3MySQL.includes(pcolumn)) { return 3; };
        if (sqlStatsHeaderColspan4MySQL.includes(pcolumn)) { return 4; };
        if (sqlStatsHeaderColspan5MySQL.includes(pcolumn)) { return 5; };
        if (sqlStatsHeaderColspan6MySQL.includes(pcolumn)) { return 6; };
        if (sqlStatsHeaderColspan7MySQL.includes(pcolumn)) { return 7; };
        return 1;
    }

    function drawTable(data, columns, header1, header2, tableName, svgName, summaryText, tableDescription) {


        d3.select(svgName)
            .append('svg')
            .attr('width', 2100)
            .attr('height', 50)
            .append('g')
            .attr("transform", "translate(" + 0 + "," + 0 + ")")
            .append('text')
            .attr('x', 20)
            .attr('y', 40)
            .attr("text-anchor", "mid")
            .attr("font-size", "18px")
            .attr("font-weight", "bold")
            .attr("class", "chartColorDark")
            .text(tableName);
        d3.select(svgName)
            .append('svg')
            .attr('width', 2100)
            .attr('height', 10)
            .append('g')
            .attr("transform", "translate(" + 0 + "," + 0 + ")")
            .append('text')
            .attr('x', 10)
            .attr('y', 8)
            .attr("text-anchor", "mid")
            .attr("font-size", "10px")
            .attr("font-weight", "bold")
            .attr("class", "chartColorGrey")
            .text(tableDescription);
        var table = d3.select(svgName).append("table"),
            thead = table.append("thead"),
            tbody = table.append("tbody");
        thead.append("tr")
            .selectAll("th")
            .data(header1)
            .enter()
            .append("th")
            .attr("colspan", function (column) { return getColspan(column); })
            .attr("rowspan", function (column) { return getColspan(column) === 1 ? 2 : 1; })
            .text(function (column) { return column; });
        thead.append("tr")
            .selectAll("th")
            .data(header2)
            .enter()
            .append("th")
            .text(function (column) { return column; });



        var rows = tbody.selectAll("tr")
            .data(data)
            .enter()
            .append("tr");
        var cells = rows.selectAll("td")
            .data(function (row) {
                return columns.map(function (column) {
                    return {
                        column: column,
                        value: row[column]
                    };
                });
            })
            .enter()
            .append("td")
            .text(function (d) { return outputFormat(d.column, d.value); });
        table.selectAll("tbody tr")
            .sort(function (a, b) { return d3.ascending(a.RANK, b.RANK); });

        d3.select(svgName)
            .append('svg')
            .attr('width', 2100)
            .attr('height', 40)
            .append('g')
            .attr("transform", "translate(" + 0 + "," + 0 + ")")
            .append('text')
            .attr('x', 20)
            .attr('y', 20)
            .attr("text-anchor", "mid")
            .attr("font-size", "12px")
            .attr("class", "chartColorDark")
            .text(summaryText);
        return table;
    }

    function outputFormat(pcolumn, pvalue) {
        if (timeFormatArrayMySQL.includes(pcolumn)) { if (Math.abs(pvalue) > 999) { return execFormat(+pvalue); } else { return timeFormat(+pvalue); } };
        if (execFormatArrayMySQL.includes(pcolumn)) { if (Math.abs(pvalue) < 10) { return timeFormat(+pvalue); } else { return execFormat(+pvalue); } };
        if (percentFormatArrayMySQL.includes(pcolumn)) { return percentFormat(+pvalue); };
        if (intervalFormatArrayMySQL.includes(pcolumn)) { return intervalFormat(+pvalue); };
        return pvalue;
    }

    function drawAllObjects(pScreenWidth) {
        if (statementsSummaryGroupsMySQL["Wait Classes"][0]["total"]>0) svgBarChartDraw(400, 450, statementsSummaryGroupsMySQL["Wait Classes"], "#chart1", waitClassColors, "Statements Summary", "Seconds");
        if (waitsSummaryGroupsMySQL["Wait Classes"][0]["total"]>0) svgBarChartDraw(400, 450, waitsSummaryGroupsMySQL["Wait Classes"], "#chart1", waitClassColors, "Waits Summary", "Seconds");
        if (stagesSummaryGroupsMySQL["Wait Classes"][0]["total"]>0) svgBarChartDraw(400, 450, stagesSummaryGroupsMySQL["Wait Classes"], "#chart1", waitClassColors, "Stages Summary", "Seconds");
        

        ["io/file", "io/socket", "io/table", "io/aurora_redo_log_flus", "lock/metadata", "lock/table", "synch/cond", "synch/mutex", "synch/rwlock", "synch/sxlock"].forEach(function (d) {
            if (waitsSummaryGroupsMySQL[d].columns  && waitsSummaryGroupsMySQL[d][0].total > 0) svgBarChartDraw(400, 450, waitsSummaryGroupsMySQL[d], "#chartWaitsSummary", cat20Colors, d, "Seconds");

        });

        ["sql", "innodb"].forEach(function (d) {
            if (stagesSummaryGroupsMySQL[d].columns  && stagesSummaryGroupsMySQL[d][0].total > 0) svgBarChartDraw(400, 450, stagesSummaryGroupsMySQL[d], "#chartStagesSummary", cat20Colors, d, "Seconds");

        });

        ["sql", "com", "sp", "scheduler"].forEach(function (d) {
            if (statementsSummaryGroupsMySQL[d].columns  && statementsSummaryGroupsMySQL[d][0].total > 0) svgBarChartDraw(400, 450, statementsSummaryGroupsMySQL[d], "#chartStatementsSummary", cat20Colors, d, "Seconds");

        });


        sqlStatsChartDetailsMySQL.forEach(function (d) {
           if (sqlStatsGroupsMySQL[d.chartId][0].total > 0) svgBarChartDraw(400, 450, sqlStatsGroupsMySQL[d.chartId], "#chart5", cat20Colors, d.chartName, d.axisName);
        });


        sqlStatsTablesMySQL.forEach(function (d) {
            if (sqlStatsMySQL[d].length > 0) {
                var tempTable = drawTable(sqlStatsMySQL[d], sqlStatsColsMySQL[d], sqlStatsColsHeader1MySQL[d], sqlStatsColsHeader2MySQL[d], sqlStatsTableDetailsMySQL[d]["name"], "#chart6", sqlTableSummaryTextMySQL(d), tableDescriptionText);
                sqlStatsTablesMySQL[d] = tempTable;
            }
        });
        


        var dbSummaryTable = drawTable(sqlStatsMySQL["DB_SUMMARY"], sqlStatsColsMySQL["DB_SUMMARY"], sqlStatsColsHeader1MySQL["DB_SUMMARY"], sqlStatsColsHeader2MySQL["DB_SUMMARY"], sqlStatsTableDetailsMySQL["DB_SUMMARY"]["name"], "#chart1", "", "");
        
        var globalStatusTable = drawTable(sqlStatsMySQL["GLOBAL_STATUS"], sqlStatsColsMySQL["GLOBAL_STATUS"], sqlStatsColsHeader1MySQL["GLOBAL_STATUS"], sqlStatsColsHeader2MySQL["GLOBAL_STATUS"], sqlStatsTableDetailsMySQL["GLOBAL_STATUS"]["name"], "#chartGlobalStatus", "", "");

        var sqlTextTable = drawTable(sqlStatsMySQL["SQL_TEXT"], sqlStatsColsMySQL["SQL_TEXT"], sqlStatsColsHeader1MySQL["SQL_TEXT"], sqlStatsColsHeader2MySQL["SQL_TEXT"], sqlStatsTableDetailsMySQL["SQL_TEXT"]["name"], "#chartSqlText", "", "");

        var fileSummaryByEventTableMySQL = drawTable(sqlStatsMySQL["FILE_SUMMARY_EVENT"], sqlStatsColsMySQL["FILE_SUMMARY_EVENT"], sqlStatsColsHeader1MySQL["FILE_SUMMARY_EVENT"], sqlStatsColsHeader2MySQL["FILE_SUMMARY_EVENT"], sqlStatsTableDetailsMySQL["FILE_SUMMARY_EVENT"]["name"], "#chartFileSummary", "", tableDescriptionText);


    }

    var csvWaitsSummaryMySQL = "wait_class,wait_event,tst_before,tst_after\n";

    var csvStagesSummaryMySQL = "wait_class,wait_event,tst_before,tst_after\n";

    var csvStatementsSummaryMySQL = "wait_class,wait_event,tst_before,tst_after\n";

    var csvSqlStatsChartMySQL = "stat_name,sql_type,value_b,value_t\n";

    var csvSqlStatsTableMySQL = "STATISTIC,SCHEMA_NAME,DIGEST,COUNT_STAR,SUM_TIMER_WAIT,MIN_TIMER_WAIT,AVG_TIMER_WAIT,MAX_TIMER_WAIT,SUM_LOCK_TIME,SUM_ERRORS,SUM_WARNINGS,SUM_ROWS_AFFECTED,SUM_ROWS_SENT,SUM_ROWS_EXAMINED,SUM_CREATED_TMP_DISK_TABLES,SUM_CREATED_TMP_TABLES,SUM_SELECT_FULL_JOIN,SUM_SELECT_FULL_RANGE_JOIN,SUM_SELECT_RANGE,SUM_SELECT_RANGE_CHECK,SUM_SELECT_SCAN,SUM_SORT_MERGE_PASSES,SUM_SORT_RANGE,SUM_SORT_ROWS,SUM_SORT_SCAN,SUM_NO_INDEX_USED,SUM_NO_GOOD_INDEX_USED\n";

    var csvFileSummaryByEventMySQL = "EVENT_NAME,COUNT_STAR,SUM_TIMER_WAIT,MIN_TIMER_WAIT,AVG_TIMER_WAIT,MAX_TIMER_WAIT,COUNT_READ,SUM_TIMER_READ,MIN_TIMER_READ,AVG_TIMER_READ,MAX_TIMER_READ,SUM_NUMBER_OF_BYTES_READ,COUNT_WRITE,SUM_TIMER_WRITE,MIN_TIMER_WRITE,AVG_TIMER_WRITE,MAX_TIMER_WRITE,SUM_NUMBER_OF_BYTES_WRITE,COUNT_MISC,SUM_TIMER_MISC,MIN_TIMER_MISC,AVG_TIMER_MISC,MAX_TIMER_MISC\n";

    var csvDbSummary = "HOSTNAME,INNODBBUFFERPOOLSIZE,VERSION,VERSION_COMMENT,VERSION_OS,VERSION_MACHINE,UPTIME,REPORT_TIME\n";

    var csvGlobalStatus = "VARIABLE_NAME,VARIABLE_VALUE\n";
    
    var csvSQLText = "SCHEMA!@#!DIGEST!@#!DIGEST_TEXT\n";

    